$my-var: "bar";
$my-default-var: "bar" !default;
$my_var: "bar";
$my_default_var: "bar" !default;
$myVar: "bar";
$myDefaultVar: "bar"   !default;
$my-num-var: 10%;
$my-num-default-var: 10% !default;
$my_num_var: 6.666;
$my_num_default_var: 6.666 !default;
$myNumVar: 20em;
$myNumDefaultVar: 20em   !default;

/*
 * compiled to sass
 */
@import "bar.scss";
@import "bar";

/*
 * compiled to css
 */
@import "bar.css";
@import "bar" screen;
@import "http://wat.com/bar";
@import "http://wat.tha.fuck.com/bar";
@import url(bar);
@import url("bar");
// variable interpolation
@import url("http://wat.com/bar?family=#{$family}");

/*
 * multiple files
 */
@import "bar-bar", "bar-bar-bar";

/*
 * nested
 */
#main {
  @import "bar";
}